# Laravel Folders
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor

# Project Files
/src

# Laravel Files
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Docker Files
.env_file
docker-compose.override.yml


