.icon {
  width: 3rem;
  height: 3rem;
}

.icon i, .icon svg {
  font-size: 2.25rem;
}

.icon + .icon-text {
  padding-left: 1rem;
  width: calc(100% - 3rem - 1);
}

.icon-xl {
  width: 5rem;
  height: 5rem;
}

.icon-xl i, .icon-xl svg {
  font-size: 4.25rem;
}

.icon-xl + .icon-text {
  width: calc(100% - 5rem - 1);
}

.icon-lg {
  width: 4rem;
  height: 4rem;
}

.icon-lg i, .icon-lg svg {
  font-size: 3.25rem;
}

.icon-lg + .icon-text {
  width: calc(100% - 4rem - 1);
}

.icon-sm {
  width: 2rem;
  height: 2rem;
}

.icon-sm i, .icon-sm svg {
  font-size: 1.25rem;
}

.icon-sm + .icon-text {
  width: calc(100% - 2rem - 1);
}

.icon-xs {
  width: 1.25rem;
  height: 1.25rem;
}

.icon-xs i, .icon-xs svg {
  font-size: 0.5rem;
}

.icon-xs + .icon-text {
  width: calc(100% - 1.25rem - 1);
}

.icon-actions > a {
  display: inline-block;
  margin-right: 0.75rem;
  color: #8898aa;
  font-size: 0.875rem;
}

.icon-actions > a:last-of-type {
  margin-right: 0;
}

.icon-actions > a span {
  margin-left: 0.1875rem;
  font-weight: 600;
  color: #8898aa;
}

.icon-actions > a:hover span {
  color: #6a7e95;
}

.icon-actions > a, .icon-actions > a.active, .icon-actions > a:hover {
  color: #32325d;
}

.icon-actions > .favorite.active, .icon-actions > .favorite:hover {
  color: #ffd600;
}

.icon-actions > .love.active, .icon-actions > .love:hover {
  color: #f5365c;
}

.icon-actions > .like.active, .icon-actions > .like:hover {
  color: #5e72e4;
}

.icon-actions-lg a {
  font-size: 1.25rem;
  margin-right: 0.875rem;
}

.icon-shape {
  padding: 12px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.icon-shape i, .icon-shape svg {
  font-size: 1.25rem;
}

.icon-shape.icon-lg i, .icon-shape.icon-lg svg {
  font-size: 1.625rem;
}

.icon-shape.icon-sm i, .icon-shape.icon-sm svg {
  font-size: 0.875rem;
}

.icon-shape.icon-xs i, .icon-shape.icon-xs svg {
  font-size: 0.6rem;
}

.icon-shape svg {
  width: 30px;
  height: 30px;
}

.icon-shape-primary {
  color: #2643e9;
  background-color: rgba(138, 152, 235, 0.5);
}

.icon-shape-secondary {
  color: #cfe3f1;
  background-color: rgba(255, 255, 255, 0.5);
}

.icon-shape-success {
  color: #1aae6f;
  background-color: rgba(84, 218, 161, 0.5);
}

.icon-shape-info {
  color: #03acca;
  background-color: rgba(65, 215, 242, 0.5);
}

.icon-shape-warning {
  color: #ff3709;
  background-color: rgba(252, 140, 114, 0.5);
}

.icon-shape-danger {
  color: #f80031;
  background-color: rgba(247, 103, 131, 0.5);
}

.icon-shape-light {
  color: #879cb0;
  background-color: rgba(201, 207, 212, 0.5);
}

.icon-shape-dark {
  color: #090c0e;
  background-color: rgba(56, 63, 69, 0.5);
}

.icon-shape-default {
  color: #091428;
  background-color: rgba(35, 65, 116, 0.5);
}

.icon-shape-neutral, .icon-shape-white {
  color: #e8e3e3;
  background-color: rgba(255, 255, 255, 0.5);
}

.icon-shape-darker {
  color: #000;
  background-color: rgba(23, 26, 28, 0.5);
}

.bg-blue {
  background-color: #5e72e4 !important;
}

a.bg-blue:focus, a.bg-blue:hover, button.bg-blue:focus, button.bg-blue:hover {
  background-color: #324cdd !important;
}

.bg-indigo {
  background-color: #5603ad !important;
}

a.bg-indigo:focus, a.bg-indigo:hover, button.bg-indigo:focus, button.bg-indigo:hover {
  background-color: #3d027b !important;
}

.bg-purple {
  background-color: #8965e0 !important;
}

a.bg-purple:focus, a.bg-purple:hover, button.bg-purple:focus, button.bg-purple:hover {
  background-color: #683bd7 !important;
}

.bg-pink {
  background-color: #f3a4b5 !important;
}

a.bg-pink:focus, a.bg-pink:hover, button.bg-pink:focus, button.bg-pink:hover {
  background-color: #ed7790 !important;
}

.bg-red {
  background-color: #f5365c !important;
}

a.bg-red:focus, a.bg-red:hover, button.bg-red:focus, button.bg-red:hover {
  background-color: #ec0c38 !important;
}

.bg-orange {
  background-color: #fb6340 !important;
}

a.bg-orange:focus, a.bg-orange:hover, button.bg-orange:focus, button.bg-orange:hover {
  background-color: #fa3a0e !important;
}

.bg-yellow {
  background-color: #ffd600 !important;
}

a.bg-yellow:focus, a.bg-yellow:hover, button.bg-yellow:focus, button.bg-yellow:hover {
  background-color: #ccab00 !important;
}

.bg-green {
  background-color: #2dce89 !important;
}

a.bg-green:focus, a.bg-green:hover, button.bg-green:focus, button.bg-green:hover {
  background-color: #24a46d !important;
}

.bg-teal {
  background-color: #11cdef !important;
}

a.bg-teal:focus, a.bg-teal:hover, button.bg-teal:focus, button.bg-teal:hover {
  background-color: #0da5c0 !important;
}

.bg-cyan {
  background-color: #2bffc6 !important;
}

a.bg-cyan:focus, a.bg-cyan:hover, button.bg-cyan:focus, button.bg-cyan:hover {
  background-color: #00f7b5 !important;
}

.bg-white {
  background-color: #fff !important;
}

a.bg-white:focus, a.bg-white:hover, button.bg-white:focus, button.bg-white:hover {
  background-color: #e6e6e6 !important;
}

.bg-gray {
  background-color: #8898aa !important;
}

a.bg-gray:focus, a.bg-gray:hover, button.bg-gray:focus, button.bg-gray:hover {
  background-color: #6a7e95 !important;
}

.bg-gray-dark {
  background-color: #32325d !important;
}

a.bg-gray-dark:focus, a.bg-gray-dark:hover, button.bg-gray-dark:focus, button.bg-gray-dark:hover {
  background-color: #20203c !important;
}

.bg-light {
  background-color: #ced4da !important;
}

a.bg-light:focus, a.bg-light:hover, button.bg-light:focus, button.bg-light:hover {
  background-color: #b1bbc4 !important;
}

.bg-lighter {
  background-color: #e9ecef !important;
}

a.bg-lighter:focus, a.bg-lighter:hover, button.bg-lighter:focus, button.bg-lighter:hover {
  background-color: #cbd3da !important;
}

.bg-gradient-blue {
  background: linear-gradient(87deg, #5e72e4, #825ee4) !important;
}

.bg-gradient-indigo {
  background: linear-gradient(87deg, #5603ad, #9d03ad) !important;
}

.bg-gradient-purple {
  background: linear-gradient(87deg, #8965e0, #bc65e0) !important;
}

.bg-gradient-pink {
  background: linear-gradient(87deg, #f3a4b5, #f3b4a4) !important;
}

.bg-gradient-red {
  background: linear-gradient(87deg, #f5365c, #f56036) !important;
}

.bg-gradient-orange {
  background: linear-gradient(87deg, #fb6340, #fbb140) !important;
}

.bg-gradient-yellow {
  background: linear-gradient(87deg, #ffd600, #beff00) !important;
}

.bg-gradient-green {
  background: linear-gradient(87deg, #2dce89, #2dcecc) !important;
}

.bg-gradient-teal {
  background: linear-gradient(87deg, #11cdef, #1171ef) !important;
}

.bg-gradient-cyan {
  background: linear-gradient(87deg, #2bffc6, #2be0ff) !important;
}

.bg-gradient-gray {
  background: linear-gradient(87deg, #8898aa, #888aaa) !important;
}

.bg-gradient-gray-dark {
  background: linear-gradient(87deg, #32325d, #44325d) !important;
}

.bg-gradient-light {
  background: linear-gradient(87deg, #ced4da, #cecfda) !important;
}

.bg-gradient-lighter {
  background: linear-gradient(87deg, #e9ecef, #e9eaef) !important;
}

.bg-translucent-primary {
  background-color: rgba(63, 87, 223, 0.6) !important;
}

a.bg-translucent-primary:focus, a.bg-translucent-primary:hover, button.bg-translucent-primary:focus, button.bg-translucent-primary:hover {
  background-color: rgba(42, 68, 219, 0.6) !important;
}

.bg-translucent-secondary {
  background-color: rgba(221, 234, 242, 0.6) !important;
}

a.bg-translucent-secondary:focus, a.bg-translucent-secondary:hover, button.bg-translucent-secondary:focus, button.bg-translucent-secondary:hover {
  background-color: rgba(202, 222, 235, 0.6) !important;
}

.bg-translucent-success {
  background-color: rgba(39, 177, 118, 0.6) !important;
}

a.bg-translucent-success:focus, a.bg-translucent-success:hover, button.bg-translucent-success:focus, button.bg-translucent-success:hover {
  background-color: rgba(34, 156, 104, 0.6) !important;
}

.bg-translucent-info {
  background-color: rgba(14, 177, 206, 0.6) !important;
}

a.bg-translucent-info:focus, a.bg-translucent-info:hover, button.bg-translucent-info:focus, button.bg-translucent-info:hover {
  background-color: rgba(12, 156, 183, 0.6) !important;
}

.bg-translucent-warning {
  background-color: rgba(250, 70, 29, 0.6) !important;
}

a.bg-translucent-warning:focus, a.bg-translucent-warning:hover, button.bg-translucent-warning:focus, button.bg-translucent-warning:hover {
  background-color: rgba(249, 51, 5, 0.6) !important;
}

.bg-translucent-danger {
  background-color: rgba(243, 20, 64, 0.6) !important;
}

a.bg-translucent-danger:focus, a.bg-translucent-danger:hover, button.bg-translucent-danger:focus, button.bg-translucent-danger:hover {
  background-color: rgba(227, 11, 54, 0.6) !important;
}

.bg-translucent-light {
  background-color: rgba(153, 163, 173, 0.6) !important;
}

a.bg-translucent-light:focus, a.bg-translucent-light:hover, button.bg-translucent-light:focus, button.bg-translucent-light:hover {
  background-color: rgba(139, 150, 162, 0.6) !important;
}

.bg-translucent-dark {
  background-color: rgba(17, 19, 21, 0.6) !important;
}

a.bg-translucent-dark:focus, a.bg-translucent-dark:hover, button.bg-translucent-dark:focus, button.bg-translucent-dark:hover {
  background-color: rgba(6, 6, 7, 0.6) !important;
}

.bg-translucent-default {
  background-color: rgba(15, 28, 50, 0.6) !important;
}

a.bg-translucent-default:focus, a.bg-translucent-default:hover, button.bg-translucent-default:focus, button.bg-translucent-default:hover {
  background-color: rgba(9, 17, 30, 0.6) !important;
}

.bg-translucent-white {
  background-color: rgba(237, 237, 237, 0.6) !important;
}

a.bg-translucent-white:focus, a.bg-translucent-white:hover, button.bg-translucent-white:focus, button.bg-translucent-white:hover {
  background-color: rgba(224, 224, 224, 0.6) !important;
}

.bg-translucent-neutral {
  background-color: rgba(237, 237, 237, 0.6) !important;
}

a.bg-translucent-neutral:focus, a.bg-translucent-neutral:hover, button.bg-translucent-neutral:focus, button.bg-translucent-neutral:hover {
  background-color: rgba(224, 224, 224, 0.6) !important;
}

.bg-translucent-darker, a.bg-translucent-darker:focus, a.bg-translucent-darker:hover, button.bg-translucent-darker:focus, button.bg-translucent-darker:hover {
  background-color: rgba(0, 0, 0, 0.6) !important;
}

.section-primary {
  background-color: #f8f9fe !important;
}

a.section-primary:focus, a.section-primary:hover, button.section-primary:focus, button.section-primary:hover {
  background-color: #cbd3f8 !important;
}

.section-secondary {
  background-color: #f7fafc !important;
}

a.section-secondary:focus, a.section-secondary:hover, button.section-secondary:focus, button.section-secondary:hover {
  background-color: #d2e3ee !important;
}

.section-light {
  background-color: #ced4da !important;
}

a.section-light:focus, a.section-light:hover, button.section-light:focus, button.section-light:hover {
  background-color: #b1bbc4 !important;
}

.section-dark {
  background-color: #212529 !important;
}

a.section-dark:focus, a.section-dark:hover, button.section-dark:focus, button.section-dark:hover {
  background-color: #0a0c0d !important;
}

.section-darker, a.section-darker:focus, a.section-darker:hover, button.section-darker:focus, button.section-darker:hover {
  background-color: #000 !important;
}

.bg-gradient-primary {
  background: linear-gradient(87deg, #5e72e4, #825ee4) !important;
}

.bg-gradient-secondary {
  background: linear-gradient(87deg, #f7fafc, #f7f8fc) !important;
}

.bg-gradient-success {
  background: linear-gradient(87deg, #2dce89, #2dcecc) !important;
}

.bg-gradient-info {
  background: linear-gradient(87deg, #11cdef, #1171ef) !important;
}

.bg-gradient-warning {
  background: linear-gradient(87deg, #fb6340, #fbb140) !important;
}

.bg-gradient-danger {
  background: linear-gradient(87deg, #f5365c, #f56036) !important;
}

.bg-gradient-light {
  background: linear-gradient(87deg, #adb5bd, #adaebd) !important;
}

.bg-gradient-dark {
  background: linear-gradient(87deg, #212529, #212229) !important;
}

.bg-gradient-default {
  background: linear-gradient(87deg, #172b4d, #1a174d) !important;
}

.bg-gradient-neutral, .bg-gradient-white {
  background: linear-gradient(87deg, #fff, #fff) !important;
}

.bg-gradient-darker {
  background: linear-gradient(87deg, #000, #000) !important;
}

#table_pagination nav > div.hidden > div:nth-child(2) > span span.relative.text-gray-500 {
  background-color: #6777ef !important;
  color: white;
}

#table_pagination nav > div.hidden > div:nth-child(2) > span button.relative,
#table_pagination nav > div.hidden > div:nth-child(2) > span span.relative {
  padding: 8px 12px !important;
}

#form-create > div > div.mt-5,
.section-body > div > div.max-w-7xl div.md\:grid div.mt-5 {
  margin-top: 0 !important;
}

textarea.form-control {
  height: 64px !important;
}
